@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.main {
  margin: 0;
  padding: 0;
  
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);
}

h1 {
  color: white;
  font-size: 7vmin;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bg {
  height: 100%;
  position: relative;
  overflow: hidden;
}

img {
  height: 100%;  
  position: relative;
  overflow: hidden;
}

.bg {
  height: 100%;  
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  background: url('assets/background.jpg') no-repeat center center;
  background-size: cover;

  transform: scale(1.1);
}

.projectImage {
  width: 150px;
  height: 150px;
}

.projectText {
  float: left;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.socialButton {
  width: 150px;
  height: auto;
}

.button {
  float: center;
  color: lightskyblue;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 14px;
  padding: 20px;
}